extends layout

block content
  h1=title
  form.chat(action="")
    input.m(autocomplete="off")
    button Send
  script(src='/socket.io/socket.io.js')
  <script>var socket = io(window.location.href);</script>